<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>这里是游戏界面</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="big">
        <div id="sum">
            <h1>欢迎来到游戏界面</h1><br>
           
            <a href="../static/红魂·剧本杀.pdf"><input type="button" value="红色剧本杀" class="img"></a>
            <a href="../static/组织者手册.pdf"><input type="button" value="组织者手册" class="img"></a><br><br>
            <a href="../static/杨子木(1).pdf"><input type="button" value="杨子木" class="img"></a>
            <a href="../static/林小曼(1).pdf"><input type="button" value="林小曼" class="img"></a>
            <a href="../static/袁梅(1).pdf"><input type="button" value="袁梅" class="img"></a>
            <a href="../static/马和堂.pdf"><input type="button" value="马和堂" class="img"></a>
            <a href="../static/马和民.pdf"><input type="button" value="马和民" class="img"></a>
           
        </div>
    </div>
</body>

</html>